.avatar {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #FFF;
    position: absolute;
    display: flex;
    aspect-ratio: 1/1;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.avatar--sm {
    width: 32px;
}

.avatar--md {
    width: 40px;
}

.avatar--lg {
    width: 48px;
}

.avatar--xl {
    width: 64px;
}

.avatar img {
    height: 100%;
    width: 100%;
}